.grid {
    max-width: 1200px;
    margin: auto;
    color: #fff;
}

h1,
a {
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
