/* ==========================================================================
   Typography
   ========================================================================== */

/* Base
   ========================================================================== */

html, 
button, 
input, 
select, 
textarea {
    @include px('font-size', ($baseFontSize * 1px)); 
    font-family: $baseFontFamily;
}

body {
    @include px('line-height', $baseLineHeight);
}

/* Headings
   ========================================================================== */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: $headingFontFamily; 
    color: $headingColor;
    font-weight: bold;
}

h1, 
.alpha {
    @include px('font-size', $headingAlpha); 
}

h2, 
.beta {
    @include px('font-size', $headingBeta);
}

h3, 
.gamma {
    @include px('font-size', $headingGamma);
}

h4, 
.delta {
    @include px('font-size', $headingDelta);
}

h5, 
.epsilon {
    @include px('font-size', $headingEpsilon);
}

h6, 
.zeta {
    @include px('font-size', $headingZeta);
}   

/* Links
   ========================================================================== */

a { 
    color: $linkColor; 
    background: transparent;
}

a:visited { 
    color: $linkVisited; 
}

a:hover { 
    color: $linkHover; 
}

a:focus { 
    outline: thin dotted; 
    color: $linkFocus; 
}

a:active { 
    color: $linkActive; 
}