/* Colours */

$colorPrimary: pink;
$colorSecondary: orange;

/* Typography  */

$baseFontSize: 16; // No px on this
$baseLineHeight: 25px; 
$baseFontFamily: Arial, Helvetica, sans-serif;
$baseFontColor: #fef;

$headingFontFamily: Arial, Helvetica, sans-serif; 
$headingColor: #fff;

$headingAlpha:                  32px;
$headingBeta:                   24px;
$headingGamma:                  19px;
$headingDelta:                  16px;
$headingEpsilon:                13px;
$headingZeta:                   11px;

/* Links  */
$linkColor: #eeeeff;
$linkVisited: lighten($linkColor, 10);
$linkHover: darken($linkColor, 20);
$linkActive: darken($linkColor, 20);
$linkFocus: darken($linkColor, 40);
